<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ReciBot 2.0</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css') }}"
    >
</head>

<body>
    <main class="contenedor">
        <h1>ReciBot 2.0</h1>

        <p>
            Sistema inteligente para la clasificación de residuos sólidos
            mediante inteligencia artificial.
        </p>

        <button type="button">
            Comenzar
        </button>
    </main>
</body>
</html>